.l-body{
    background: url('../images/bg.jpg') no-repeat;
    background-size: cover;
    color: #7693a8;
    font-family: 'Univia Pro';
    height: 100%;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
}