/*Core variables*/
@import 'base/vars';

/*CSS Reset*/
@import 'base/reset';

/*CSS print*/
@import 'base/print';

/*Fonts*/
@import 'base/fonts';

/*Mixins, helpers and functions*/
@import 'base/mixins';

/*Vendor*/

/*Components*/

/*Demo styles*/

body{
    background: url('../images/bg.jpg') no-repeat;
    background-size: cover;
    color: #7693a8;
    font-family: 'Univia Pro';
    height: 100%;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
}

.l-main{
    display: grid;
    gap: 30px 30px;
    grid-template-areas: 'l-title l-title l-title'
        'l-player . l-monster'
        'l-gameStats l-log l-allTimeStats';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 150px;
    text-align: center;
}

.l-title{
    align-items: center;
    color: #7e4f13;
    display: flex;
    font-size: 56px; 
    grid-area: l-title;
    justify-content: center;
    text-shadow: 2px 2px #0a0a0d;
}

.l-player{
    grid-area: l-player;
}

.l-monster{
    align-self: first baseline;
    grid-area: l-monster;
}

.l-log{
    background: rgba(0, 0, 0, .8);
    border: 1px solid #7e4f13;
    border-radius: 8px;
    color: #7e4f13; 
    grid-area: l-log;
    height: 125px;
}

.l-gameStats{
    background: rgba(0, 0, 0, .8);
    border: 1px solid #7e4f13;
    border-radius: 8px; 
    grid-area: l-gameStats;
    height: 125px;
}

.l-allTimeStats{
    background: rgba(0, 0, 0, .8);
    border: 1px solid #7e4f13;
    border-radius: 8px; 
    grid-area: l-allTimeStats;
    height: 125px;
}

a{
    color: #7693a8;

    &:hover,
    &:focus,
    &:active{
        color: #9caebd;
    }
}

.c-character{
    background: rgba(0, 0, 0, .8);
    border: 1px solid #7e4f13;
    border-radius: 8px;
}

.c-character__title{
    background: linear-gradient(90deg, #4b2610 15%, #532510 25%, #93512d 50%, #532510 85%, #4b2610 95%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #cc9f68;
    font-size: 20px;
    padding: 5px 15px;
}

.c-character__attributes{
    
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #7e4f13;

    li{
        background: #181210;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        padding: 5px;

        &:nth-child(2){
            background: #150e0c;
        }
    }
}

.c-log{
    display: flex;
    flex: 1 1 100;
    flex-direction: column-reverse;
}

.c-progressBar{
    height: 15px;
    position: relative;
    width: 100%;
}

.c-progressBar__value{
    font-size: 12px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.c-title{
    color: #7e4f13;
    font-size: 18px;
    margin-bottom: 10px;
    position: relative;
    text-align: center;

    &:before{
        background: url('https://web.poecdn.com/image/item/popup/seperator-unique.png?1605141671963') center no-repeat;
        bottom: -7px;
        content: '';
        height: 8px;
        left: 0;
        position: absolute;
        right: 0;
    }
}
