/*By Athlon Front-End Team*/

/*Core variables*/
@import 'base/vars';

/*CSS Reset*/
@import 'base/reset';

/*CSS print*/
@import 'base/print';

/*Fonts*/
@import 'base/fonts';

/*Mixins, helpers and functions*/
@import 'base/mixins';

/*Vendor*/

/*Components*/

/*Demo styles*/

body{
    background: url('../images/bg.jpg') no-repeat;
    background-size: cover;
    color: #7693a8;
    font-family: 'Univia Pro';
    height: 100%;
    min-height: 100vh;
    text-rendering: optimizeLegibility;
}

.l-main{
    padding: 0 150px;
    text-align: center;
    display: grid;
    gap: 30px 30px;
    grid-template-areas:
    "l-title l-title l-title"
    "l-player . l-monster"
    "l-gameStats l-log l-allTimeStats";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 1280px;
    margin: 0 auto;
}

.l-title { 
    grid-area: l-title;
    font-size: 56px;
    color: #7e4f13;
    display: flex;
    align-items: center;
    justify-content: center;

}
.l-player { 
    grid-area: l-player; 
}

.l-monster { 
    grid-area: l-monster; 

}
.l-log { 
    grid-area: l-log;
    border: 1px solid #7e4f13;
    border-radius: 8px;
    background: rgba(0, 0, 0, .8);
    color:  #7e4f13;
}
.l-gameStats { 
    grid-area: l-gameStats;
    border: 1px solid #7e4f13;
    border-radius: 8px;
    background: rgba(0, 0, 0, .8);
}
.l-allTimeStats { 
    grid-area: l-allTimeStats;
    border: 1px solid #7e4f13;
    border-radius: 8px;
    background: rgba(0, 0, 0, .8);
}

a{
    color: #7693a8;

    &:hover,
    &:focus,
    &:active{
        color: #9caebd;
    }
}

.c-character{
    border: 1px solid #7e4f13;
    border-radius: 8px;
}

.c-character__title{
    background: linear-gradient(90deg, #4b2610 15%, #532510 25%, #93512d 50%, #532510 85%, #4b2610 95%);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #cc9f68;
    font-size: 20px;
    padding: 5px 15px;
}

.c-character__attributes{
    background: rgba(0, 0, 0, .8);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #7e4f13;

    li{
        background: #181210;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        padding: 5px;

        &:nth-child(2){
            background: #150e0c;
        }
    }
}

.c-log{
    display: flex;
    flex: 1 1 100;
    flex-direction: column-reverse;
}

.c-progressBar{
    height: 25px;
    position: relative;
    width: 100%;
}

.c-progressBar__value{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
