/* By Athlon Front-End Team */

/* Core variables */
@import 'base/vars';

/* CSS Reset */
@import 'base/reset';

/* CSS print */
@import 'base/print';

/* Fonts */
@import 'base/fonts';

/* Mixins, helpers and functions */
@import 'base/mixins';

/* Vendor */

/* Components */


/* Demo styles */

body{
  background: url('../images/bg.jpg') no-repeat;
  background-size: cover;
  color: #7693A8;
  font-family: "Univia Pro";
  height: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility;
}

.l-header{
    width: 100%;
    position: fixed;
    padding: 0 15px;
    text-align: center;
}


.l-main{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 150px;
}

a{
    color: #7693A8;

    &:hover,
    &:focus,
    &:active{
        color: #9CAEBD;
    }
}

.c-character{
  background: rgba(0, 0, 0, 0.8)
}

.c-character__title{
  background: linear-gradient(90deg, rgba(75,38,16,1) 15%, rgba(83,37,16,1) 35%, rgba(107,59,33,1) 65%, rgba(147,81,45,1) 80%);
  font-size: 20px;
  padding: 5px 15px;
  color: #cc9f68;
  margin-bottom: 10px;
}

.c-character__attributes{
  color: #7e4f13;
  li{
    background: #181210;
    padding: 5px;
    display: flex;
    justify-content: space-between;
  
    &:nth-child(2){
      background: #150e0c;
    }

  }
}

.c-log{
  display: flex;
  flex-direction: column-reverse;
  flex: 1 1 100;

}

.l-main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "player . monster"
    "log log log";
}
.l-log{ 
  grid-area: log;
  display: flex;
  justify-content: center;
}
.l-player{ 
  grid-area: player;
}
.l-monster{
  grid-area: monster;
}

.c-progressBar{
  width: 100%;
  height: 25px;
  position: relative;
}

.c-progressBar__value{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}